*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
}

.left_cont{
    width: 50%;
    height: 100%;
    background-color: #d1dce7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.inputs{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    animation-name: animate;
    animation-duration: 0.4s;
    
    
}

.inputs textarea{
    border-radius: 0.3rem;
    padding: 1rem 1rem;
    box-shadow:4px 4px 10px 0px #803636;
    
}

.inputs textarea::-webkit-scrollbar{
    display: none;
}
.inputs input{
    cursor: pointer;
}
.button{
    width: 80%;
    margin-top: 2rem;
    
}

.button button{
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
    animation-name: animate;
    animation-duration: 0.4s;
}

.button button:hover{
    background-color: rgba(0, 128, 0, 0.634);

}

@keyframes animate {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

.right_cont{
    width: 50%;
    height: 100%;
    text-align: center;
}

.right_cont .notes{
    height: 82%;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    overflow: scroll; 
    text-align: center;
    
}

.right_cont .notes::-webkit-scrollbar{
    display: none;
}

.right_cont .notes .para{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}



/* js works */
.new_divs{
    width: 14rem;
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.2rem 0.5rem 0.2rem; 
    position: relative;
    
}
.inner_div{
    height: 100% ;
    width: 100%;
    overflow: scroll;
    text-align: left;
}


.inner_div::-webkit-scrollbar{
    display: none;
}

.cross{
    background-color: transparent;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    position:absolute;
    right: 0.5rem;
    top: 1%;
}

.reset{
    
    width: 100%;
    display: none;
}

.reset button{
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.reset button:hover{
    background-color: rgba(0, 128, 0, 0.634);
}